h1 {
    margin: 35px;
}

.div_prin {
    display: flex;
    margin: 35px;
}

.div_img img {
    border-radius: 8px;
}

.div_text {
    margin-left: 35px;
}

p {
    font-size: 18px;
}

.button {
    margin: 35px;
}

.button button {
    background: rgb(233, 123, 45);
    color: white;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 8px;
}

.button button:hover {
    background-color: rgb(255, 150, 70);
    transform: scale(1.1);
    transition: 1.3s;
}